@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap');

body {
    margin: 0;
    font-family: "DM Serif Display", serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0 57px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.logo-text {
    color: #292F36;
    font-size: 40px;
    font-family: "DM Serif Display", serif;
    line-height: 50px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 31px;
    list-style: none;
    color: #292F36;
    font-size: 20px;
    font-family: "Jost", sans-serif;
    line-height: 25px;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #292F36;
}

.nav-link:hover {
    text-decoration: underline;
}

.banner {
    position: relative;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    display: block;
}

.banner-content {
    position: absolute;
    top: 150px;
    left: 52px;
}

.banner h1 {
    color: #292F36;
    font-size: 65px;
    font-family: "DM Serif Display", serif;
    line-height: 81.25px;
    margin-bottom: 10px;
}

.banner p {
    width: 433px;
    color: #4D5053;
    font-size: 22px;
    font-family: "Jost", sans-serif;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
}

.banner-button {
    padding: 26px 49px;
    background: #292F36;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    line-height: 22.5px;
    letter-spacing: 0.36px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.banner-button:hover {
    background-color: #333;
}

.project-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 96px 0 93px;
}

.project-intro h1 {
    text-align: center;
    color: #292F36;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    line-height: 62.5px;
    letter-spacing: 1px;
    margin: 0;
}

.project-intro p {
    width: 737px;
    text-align: center;
    color: #4D5053;
    font-size: 22px;
    font-family: "Jost", sans-serif;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 104px;
    max-width: 1200px;
    margin: 0 auto 96px;
}

.project-card img {
    width: 100%;
    display: block;
}

.card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.project-info h3 {
    color: #292F36;
    font-size: 25px;
    font-family: "DM Serif Display", serif;
    margin: 0 0 4px;
}

.project-info p {
    color: #4D5053;
    font-size: 22px;
    font-family: "DM Serif Display", serif;
    margin: 0;
}

.project-card-button {
    width: 52px;
    height: 52px;
    background: #F4F0EC;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
}

.project-card-button:hover {
    background-color: #838181;
}

.stats {
    background: #F4F0EC;
    height: 457px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    flex-direction: row;
    text-align: center;
    margin-bottom: 40px;
}

.stat-line {
    height: 210px;
    width: 1px;
    background: #CDA274;
}

.stat-number {
    font-size: 95px;
    color: #CDA274;
    font-family: "DM Serif Display", serif;
}

.stat p {
    color: #4D5053;
    font-size: 22px;
    font-family: "Jost", sans-serif;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.articles {
    text-align: center;
    margin-bottom: 40px;
}

.articles h2 {
    color: #292F36;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    margin: 0;
}

.articles p {
    color: #4D5053;
    font-size: 22px;
    font-family: "Jost", sans-serif;
    margin: 12px 0 52px;
}

.articles-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 27px;
    flex-wrap: wrap;
}

.article-card {
    padding: 21px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.25);
    background: #fff;
}

.article-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

.article-category {
    position: relative;
    width: 124px;
    height: 41px;
    left: 10px;
    bottom: 70px;
    background: white;
    border-radius: 8px 8px 8px 0;
    color: #4D5053;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
    line-height: 24px;
    letter-spacing: 0.16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-info h3 {
    margin: 0;
    color: #292F36;
    font-size: 25px;
    font-family: "DM Serif Display", serif;
    line-height: 31.25px;
    letter-spacing: 0.5px;
    text-align: left;
}

.article-info p {
    margin: 0;
    color: #4D5053;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    line-height: 24px;
    letter-spacing: 0.16px;
    text-align: left;
    text-transform: capitalize;
}

.button-flex {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 0;
}

.footer-links a {
    color: #292F36;
    text-decoration: none;
    font-size: 22px;
    font-family: "DM Serif Display", serif;
    line-height: 31.25px;
    margin-bottom: 20px;
    display: block;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer p,
.footer h1 {
    color: #4D5053;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin: 0;
}

.footer h1 {
    font-size: 25px;
}

.footer p {
    font-size: 22px;
}

.footer-socialmedia h1 {
    color: #292F36;
    font-size: 40px;
    font-family: "DM Serif Display", serif;
    margin: 0;
}
